.reservation {
  background-size: cover;
  background-position: center;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  padding: 100px 0 0 0;
  margin: 0 0 80px 0;
}

.reservation__form {
  margin: 0 auto;
  padding-bottom: 120px;
}
