.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto auto;
  font-family: "Inter", Arial, serif;
  font-size: 16px;
  line-height: 20px;
}

/* Nav Start */

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}
.nav__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  margin-right: 1rem;
}

.nav__link {
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  transition: color 0.2s ease-in-out;
}

.nav__links a:hover {
  color: #2f80ed;
}

/* Nav End */

/* Header Start */
.header {
  z-index: 3;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  box-sizing: border-box;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  margin-top: 183px;
  letter-spacing: -0.6px;
  margin-bottom: 0px;
}
.header__span-noto {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  animation: bounce 1s infinite;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-bottom: 0%;
}

.header__image {
  z-index: -2;
  position: absolute;
  max-width: 636px;
  right: 20px;
  top: 124px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  list-style: none;
}

.header__heading {
  margin-bottom: 0%;
}

.header__link {
  padding-left: 0px;
  margin-bottom: 0%;
  margin-top: 0%;
}
/* Header End */

/* Recipes Section Start */
.recipes {
  background-size: cover;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  font-style: normal;
  color: white;
  padding: 100px 80px 215px;
  box-sizing: border-box;
  background-color: #0a2750;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  font-family: "Inter";
  font-style: normal;
  max-width: 580px;
}
.recipes__subtitle {
  font-family: "Noto Serif";
  margin-top: 24px;
  max-width: 438px;
  margin-bottom: 80px;
  font-size: 20px;
  line-height: 30px;
}
.recipes__videos {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
/* Recipes Section End */

/* Reservation Start */
.reservation {
  background-size: cover;
  background-position: center;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 80px;
  padding-top: 100px;
  margin-top: 0px;
}

.form {
  max-width: 385px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.form__label {
  display: block;
  margin-bottom: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__input[type="number"],
.form__input[type="date"],
.form__input[type="email"] {
  /* Inputs retain the same styles */
}

.form__button {
  display: block;
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: #2f80ed;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 32px; /* Added margin to separate from previous elements */
}

.form__button:hover {
  background-color: #0077b3;
}

/* Checkbox Group */

.form__fieldset {
  margin-top: 32px;
  border: none; /* Removes the default border of fieldset */
  padding: 0; /* Removes default padding */
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  margin-right: 12px; /* Space between checkbox and label text */
  width: 20px;
  height: 20px;
}
/* Reservation End */
